{% extends 'admin/indexadmin.html.twig' %}



{% block body %}

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('admin') }}">Filiere</a>
        </li>
        <li class="breadcrumb-item active">Liste des Filiere</li>
    </ol>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> La liste
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Ecole</th>
                        <th>nb Nivevau</th>
                        <th>Modifier</th>

                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Ecole</th>
                        <th>Nivevau</th>
                        <th>Modifier</th>

                    </tr>
                    </tfoot>
                    <tbody>
                    {% for fiel in fiels %}
                        <tr>

                            <td>{{ fiel.id }}</td>
                            <td>{{ fiel.nom }}</td>
                            <td>{{ fiel.ecole.nom }}</td>
                            <td>{{ fiel.niveau.count }}</td>

                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">

                                    <td>
                                        <a href="{{ path('admin.modif.fileiere',{id: fiel.id}) }}">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Modify
                                            </button>
                                        </a>
                                    </td>
                                </div>

                            </div>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>

    </div>

{% endblock %}



