<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="{{ path('admin') }}">Page Administrateur</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                <a class="nav-link" href="{{ path('admin') }}">
                    <i class="fa fa-fw fa-dashboard"></i>
                    <span class="nav-link-text">Administrateur</span>
                </a>
            </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Example Pages">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExamplePages"
                   data-parent="#exampleAccordion">
                    <i class="fa fa-fw fa-file"></i>
                    <span class="nav-link-text">Listes</span>
                </a>
                <ul class="sidenav-second-level collapse" id="collapseExamplePages">
                    <li>
                        <a href="{{ path('adminListeEnsg') }}">Liste des enseignants</a>
                    </li>

                    <li>
                        <a href="{{ path('adminListeEtud') }}">Liste des etudiants</a>
                    </li>
                    <li>
                        <a href="{{ path('admin.liste.classe') }}">Liste des classe</a>
                    </li>
                    <li>
                        <a href="{{ path('admin.liste.stage') }}">Liste des Stages</a>
                    </li>
                    <li>
                        <a href="{{ path('admin.liste.filiere') }}">Liste des Filieres</a>
                    </li>
                    <li>
                        <a href="{{ path('admin.type.liste') }}">Types de stages</a>
                    </li>
                    <li>
                        <a href="{{ path('admin.liste.niveau') }}">Liste de niveaux</a>
                    </li>
                </ul>
            </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents"
                   data-parent="#exampleAccordion">
                    <i class="fa fa-fw fa-wrench"></i>
                    <span class="nav-link-text">Liste d'Ajout</span>
                </a>
                <ul class="sidenav-second-level collapse" id="collapseComponents">
                    <li>
                        <a href="{{ path('adminAjoutEnsg') }}">Ajouter Enseignant</a>
                    </li>
                    <li>
                        <a href="{{ path('adminAjoutEtud') }}">Ajouter Etudiant</a>
                    </li>
                    <li>
                        <a href="{{ path('admin.classe.ajout') }}">Ajouter Classe</a>
                    </li>
                    <li>
                        <a href="{{ path('admin.stage.ajout') }}">Ajouter Stage</a>
                    </li>
                    <li>
                        <a href="{{ path('admin.filiere.ajout') }}">Ajouter Filiere </a>
                    </li>
                    <li>
                        <a href="{{ path('admin.ajout.type') }}">Ajouter Type de Stage </a>
                    </li>

                    <li>
                        <a href="{{ path('admin.ajout.niveau') }}">Ajouter Niveau </a>
                    </li>
                </ul>
            </li>


            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti"
                   data-parent="#exampleAccordion">
                    <i class="fa fa-fw fa-sitemap"></i>
                    <span class="nav-link-text">Ecole</span>
                </a>
                <ul class="sidenav-second-level collapse" id="collapseMulti">
                    <li>
                        <a href="{{ path('admin.ecole') }}">Liste Ecole</a>
                    </li>
                    <li>
                        <a href="{{ path('admin.ajout.ecole') }}">Ajout Ecole</a>
                    </li>
                    <li>
                        <a href="#">Second Level Item</a>
                    </li>
                    {#                    <li>#}
                    {#                        <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti2">Third#}
                    {#                            Level</a>#}
                    {#                        <ul class="sidenav-third-level collapse" id="collapseMulti2">#}
                    {#                            <li>#}
                    {#                                <a href="#">Third Level Item</a>#}
                    {#                            </li>#}
                    {#                            <li>#}
                    {#                                <a href="#">Third Level Item</a>#}
                    {#                            </li>#}
                    {#                            <li>#}
                    {#                                <a href="#">Third Level Item</a>#}
                    {#                            </li>#}
                    {#                        </ul>#}
                    {#                    </li>#}
                </ul>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
                <a class="nav-link" href="#">
                    <i class="fa fa-fw fa-link"></i>
                    <span class="nav-link-text">Link</span>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                </a>
            </li>
        </ul>
        {{ include('/admin/navbar.html.twig') }}


    </div>

</nav>
