{% extends 'admin/Etudiant/listeEtudiant.html.twig' %}
{% block body %}

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('adminListeEtud') }}">Etudiant</a>
        </li>
        <li class="breadcrumb-item active">{% if modifEtud %}Modifier l'Etudiant
            {% else %}  Ajouter Etudiant
            {% endif %}
        </li>
    </ol>
    <div class="container">
        <div class="card card-register mx-auto mt-5">
            <div class="card-header">{% if modifEtud %}Modifier l'Etudiant
                {% else %}  Ajouter Etudiant
                {% endif %}</div>
            <div class="card-body">
                {% form_theme formEtud 'bootstrap_4_layout.html.twig' %}

                {{ form_start(formEtud) }}

                {{ form_row( formEtud.cin, {'attr': {'placeholder': "Entrer le cin"}}) }}
                {{ form_row( formEtud.nom,{'attr': {'placeholder': "Entrer le nom"}}) }}
                {{ form_row( formEtud.prenom, {'attr': {'placeholder': "Entrer le prenom"}}) }}
                {{ form_row( formEtud.adresse, {'attr': {'placeholder': "Entrer le adress"}}) }}
                {{ form_row( formEtud.email, {'attr': {'placeholder': "Entrer le email"}}) }}
                {{ form_row( formEtud.image, {'attr': {'placeholder': "Entrer le image"}}) }}
                {{ form_row( formEtud.age, {'attr': {'placeholder': "Entrer l'age de l'etudiant"}}) }}
                {{ form_row( formEtud.Ecole) }}
                {{ form_row( formEtud.Classe) }}
                {{ form_row( formEtud.Stage) }}

                <button type="submit" class="btn btn-success">
                    {% if modifEtud %}Modifier l'Etudiant
                    {% else %}   Ajouter Etudiant
                    {% endif %}
                </button>

                {{ form_end(formEtud) }}
            </div>
        </div>
    </div>


{% endblock %}