{% extends 'admin/indexadmin.html.twig' %}
{% block body %}
    {% if etud %}
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">Etudiant</strong>
                <h3 class="mb-0">{{ etud.nom }}</h3>
                <div class="mb-1 text-muted">{{ etud.prenom }}</div>
                <p class="card-text mb-auto">{{ etud.cin }}</p>
                <p class="card-text mb-auto">{{ etud.age }}</p>
                <p class="card-text mb-auto">{{ etud.email }}</p>
                <p class="card-text mb-auto">{{ etud.adresse }}</p>
                <a href="{{ path('adminListeEtud') }}" class="stretched-link">Retour</a>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src="{{ etud.image }}"
                     width="150px"
                     height="150px"
                     class="rounded-circle"
                >
            </div>
        </div>
    {% else %}
        <div class="alert alert-danger">
            Enseignant innexistante
        </div>
    {% endif %}

{% endblock %}