{% extends 'enseignant/profileEnseignant.html.twig' %}
{% block body %}
    <section class="colorlib-contact" data-section="contact">
        <div class="colorlib-narrow-content">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
                    <span class="heading-meta">Bienvenu</span>
                    <h2 class="colorlib-heading">Coordonnées</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="colorlib-feature colorlib-feature-sm animate-box" data-animate-effect="fadeInLeft">
                        <div class="colorlib-icon">
                            <i class="icon-globe-outline"></i>
                        </div>
                        <div class="colorlib-text">
                            <p><a href="#">{{ ensg.email }}</a></p>
                        </div>
                    </div>

                    <div class="colorlib-feature colorlib-feature-sm animate-box" data-animate-effect="fadeInLeft">
                        <div class="colorlib-icon">
                            <i class="icon-map"></i>
                        </div>
                        <div class="colorlib-text">
                            <p>{{ ensg.adresse }}</p>
                        </div>
                    </div>

                    <div class="colorlib-feature colorlib-feature-sm animate-box" data-animate-effect="fadeInLeft">
                        <div class="colorlib-icon">
                            <i class="icon-map"></i>
                        </div>
                        <div class="colorlib-text">
                            <p>CIN: {{ ensg.cin }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-md-push-1">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 col-md-pull-1 animate-box"
                             data-animate-effect="fadeInRight">
                            <form action="{{ path('etudModifiEtud', {id: ensg.id}) }}" method="get">
                                <div class="form-group">
                                    <input type="text" class="form-control" disabled placeholder="Nom: {{ ensg.nom }}">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" disabled
                                           placeholder="Prenom: {{ ensg.prenom }}">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Adresse: {{ ensg.adresse }}">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" disabled
                                           placeholder="Email: {{ ensg.email }}">
                                </div>


                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="colorlib-services" data-section="services">
        <div class="colorlib-narrow-content">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
                    <span class="heading-meta">Spécialité</span>
                    <h2 class="colorlib-heading">Mon spécialité est {{ ensg.specialite }}</h2>
                </div>
            </div>
            <div class="row row-pt-md">
                <div class="col-md-4 text-center animate-box">
                    <div class="services color-1">
								<span class="icon">
									<i class="icon-bulb"></i>
								</span>
                        <div class="desc">
                            <h3>Ecole</h3>
                            <p>Je travail chez l' {{ ensg.ecole }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center animate-box">
                    <div class="services color-2">
								<span class="icon">
									<i class="icon-data"></i>
								</span>
                        <div class="desc">
                            <h3>Stage</h3>
                            <p>j' ai encadré {{ ensg.stage | length }}.
                                <a href=""> Liste de stage avec la liste des étudiants</a>
                            </p>

                        </div>
                    </div>
                </div>

                <div class="col-md-4 text-center animate-box">
                    <div class="services color-2">
								<span class="icon">
									<i class="icon-data"></i>
								</span>
                        <div class="desc">
                            <h3>Stage</h3>
                            <p>j' ai encadré {{ ensg.stage | length }}</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>

{% endblock %}