{% extends 'admin/Ecole/ecoleListe.html.twig' %}


{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('admin.ecole') }}">Ecoleau</a>
        </li>
        <li class="breadcrumb-item active">
            Ajouter Ecole
        </li>
    </ol>
    <div class="container">
        <div class="card card-register mx-auto mt-5">
            <div class="card-header">
                Ajouter Ecole
            </div>
            <div class="card-body">
                {% form_theme form 'bootstrap_4_layout.html.twig' %}
                {{ form_start(form) }}
                {{ form_row( form.nom, {'attr': {'placeholder': "Entrer le niveau"}}) }}
                {{ form_row( form.description) }}
                <button type="submit" class="btn btn-success">
                    Ajouter Niveau
                </button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}