{% extends 'admin/Enseignant/listeEnseingnat.html.twig' %}
{% block body %}

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('admin') }}">Enseignant</a>
        </li>
        <li class="breadcrumb-item active">{% if modifEns %}Modifier l'Enseignant
            {% else %}  Ajouter enseiggnant
            {% endif %}
        </li>
    </ol>
    <div class="container">
        <div class="card card-register mx-auto mt-5">
            <div class="card-header">{% if modifEns %}Modifier l'Enseignant
                {% else %}  Ajouter enseiggnant
                {% endif %}</div>
            <div class="card-body">
                {% form_theme formEns 'bootstrap_4_layout.html.twig' %}

                {{ form_start(formEns) }}

                {{ form_row( formEns.cin, {'attr': {'placeholder': "Entrer le cin"}}) }}
                {{ form_row( formEns.nom,{'attr': {'placeholder': "Entrer le nom"}}) }}
                {{ form_row( formEns.prenom, {'attr': {'placeholder': "Entrer le prenom"}}) }}
                {{ form_row( formEns.adresse, {'attr': {'placeholder': "Entrer le adress"}}) }}
                {{ form_row( formEns.email, {'attr': {'placeholder': "Entrer le email"}}) }}
                {{ form_row( formEns.image, {'attr': {'placeholder': "Entrer le image"}}) }}
                {{ form_row( formEns.specialite , {'attr': {'placeholder': "Entrer le specialite "}}) }}
                {{ form_row( formEns.CV ,{'attr': {'placeholder': "Entrer le Cv"}}) }}
                {{ form_row( formEns.Ecole) }}

                <button type="submit" class="btn btn-success">
                    {% if modifEns %}Modifier l'Enseignant
                    {% else %}   Ajouter enseiggnant
                    {% endif %}
                </button>

                {{ form_end(formEns) }}
            </div>
        </div>
    </div>




{% endblock %}