{% extends 'admin/Enseignant/listeEnseingnat.html.twig' %}
{% block body %}

    <!-- <div class="container">
         <div class="card card-register mx-auto mt-5">
             <div class="card-header">Ajouter Un Enseignant</div>
             <div class="card-body">
                 <form>
                     <div class="form-group">
                         <div class="form-row">
                             <div class="col-md-6">
                                 <label for="exampleInputName">First name</label>
                                 <input class="form-control" id="exampleInputName" type="text"
                                        aria-describedby="nameHelp" placeholder="Enter first name">
                             </div>
                             <div class="col-md-6">
                                 <label for="exampleInputLastName">Last name</label>
                                 <input class="form-control" id="exampleInputLastName" type="text"
                                        aria-describedby="nameHelp" placeholder="Enter last name">
                             </div>
                         </div>
                     </div>
                     <div class="form-group">
                         <label for="exampleInputEmail1">Email address</label>
                         <input class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp"
                                placeholder="Enter email">
                     </div>
                     <div class="form-group">
                         <div class="form-row">
                             <div class="col-md-6">
                                 <label for="exampleInputPassword1">Password</label>
                                 <input class="form-control" id="exampleInputPassword1" type="password"
                                        placeholder="Password">
                             </div>
                             <div class="col-md-6">
                                 <label for="exampleConfirmPassword">Confirm password</label>
                                 <input class="form-control" id="exampleConfirmPassword" type="password"
                                        placeholder="Confirm password">
                             </div>
                         </div>
                     </div>
                     <a class="btn btn-primary btn-block" href="login.html">Register</a>
                 </form>

             </div>
         </div>
     </div> -->
    <div class="container">
        <div class="card card-register mx-auto mt-5">
            <div class="card-header">Ajouter Etudiant</div>
            <div class="card-body">
                {% form_theme formEns 'bootstrap_4_layout.html.twig' %}

                {{ form_start(formEns) }}

                {{ form_row( formEns.cin, {'attr': {'placeholder': "Entrer le cin"}}) }}
                {{ form_row( formEns.nom,{'attr': {'placeholder': "Entrer le nom"}}) }}
                {{ form_row( formEns.prenom, {'attr': {'placeholder': "Entrer le prenom"}}) }}
                {{ form_row( formEns.adresse, {'attr': {'placeholder': "Entrer le adress"}}) }}
                {{ form_row( formEns.email, {'attr': {'placeholder': "Entrer le email"}}) }}
                {{ form_row( formEns.image, {'attr': {'placeholder': "Entrer le image"}}) }}
                {{ form_row( formEns.specialite, {'attr': {'placeholder': "Entrer le specialité"}}) }}
                {{ form_row( formEns.CV ,{'attr': {'placeholder': "Entrer le Cv"}}) }}

                <button type="submit" class="btn btn-success">Ajouter enseiggnant</button>

                {{ form_end(formEns) }}
            </div>
        </div>
    </div>
    </div>



{% endblock %}