{% extends 'admin/indexadmin.html.twig' %}



{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('admin') }}">Enseignant</a>
        </li>
        <li class="breadcrumb-item active">Liste des enseignans</li>
    </ol>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"> La liste</i>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Cin</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Specialité</th>
                        <th>Editer</th>
                        <th>modifier</th>
                        <th>Supprimer</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Cin</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Specialité</th>
                        <th>Editer</th>
                        <th>modifier</th>
                        <th>Supprimer</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for en in ensg %}
                        <tr>

                            <td>{{ en.cin }}</td>
                            <td>{{ en.nom }}</td>
                            <td>{{ en.prenom }}</td>
                            <td>{{ en.specialite }}</td>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <td><a href="{{ path('enseignant.detail', {id: en.id}) }}">
                                            <button type="button" class="btn btn-sm btn-outline-secondary -pencil ">
                                                View
                                            </button>
                                        </a>
                                    </td>
                                    <td><a href="{{ path('adminModifiEnsg', {id: en.id}) }}">
                                            <button type="button" class="btn btn-sm btn-outline-secondary -pencil ">
                                                Modif
                                            </button>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ path('enseignant.delete', {id: en.id}) }}">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">delete
                                            </button>
                                        </a>
                                    </td>
                                </div>

                            </div>
                        </tr>
                    {% endfor %}


                    </tbody>
                </table>
            </div>
        </div>

    </div>

{% endblock %}

